@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .kt-login.kt-login--v1 .kt-login__aside .kt-login__title {
        font-size: 5rem !important;
        margin-top: 55%;
    }
}

@media(min-width:1025px) {
    .cm-login-screen {
        width: 50% !important;
    }
}

@media (min-width: 1200px) {
    .cm-login-screen {
        width: 70% !important;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
.btn-custom-primary {
    background-color: #c910f8 !important;
    color: white !important;
    border: #c910f8 1px solid !important;
}

.btn-custom-primary-reverse {
    background-color: white !important;
    color: #c910f8 !important;
    border: #c910f8 1px solid !important;
}

.btn-custom-primary:hover {
    background-color: #932fd3 !important;
    color: white !important;
    border: #932fd3 1px solid !important;
}

.btn-custom-primary-reverse {
    background-color: white !important;
    color: #932fd3 !important;
    border: #932fd3 1px solid !important;
}

.uploaded-files-list {
    height: 300px !important;
    overflow-y: scroll !important;
}

.bg-buff-light {
    background-color: rgba(147, 47, 211, 0.4) !important;
}


/***

Loading spinner pure css

***/


.lds-ring {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25.5px;
    height: 25.5px;
    margin: 3px;
    border: 3px solid #666666;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #666666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/***

/ Loading spinner pure css

***/

/*
Fix for modal close button
*/
.modal .modal-content .modal-header .close:before {
    content: none !important;
}

.modal .modal-content .modal-header .close span {
    display: flex !important;
}
/*
Fix for modal close button ends here
*/


.select2-container--bootstrap-5 .select2--large.select2-dropdown .select2-results__options .select2-results__option{
    font-size: 1rem !important;
}
