.select2-container--bootstrap-5 .select2--large.select2-dropdown .select2-results__options .select2-results__option{
    font-size: 1rem !important;
}
.select2-container--bootstrap-5 .select2--large.select2-selection {
    font-size: 1rem !important;
}
